<!-- <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title> Comisión nacinal de los derechos humanos</title>
</head>
<body> -->
	<table style="width:100%">
		<tbody>
			<tr>
				<td style="font-size: 120%; border-bottom-style: solid; border-bottom-width: 0.6em; border-bottom-color: #808080; min-height: 115px; height: 18vh; background: #4d4d4d;">
				<img src="http://beta-firefox-cndh.herokuapp.com/static/img/logo.png" alt="" height="100%">
				</td>
			</tr>
			<tr>
				<td style="font-size: 120%; border-top-width: 0.6em; border-top-color: #f8923d; border-top-style: solid; padding: 0 1.5em;"><h1 style="font-size: 120%; line-height: 1.5em; margin: 0; padding: 0;">Estimado Lvcius Malfoy</h1><br>
				 <span style="font-size: 120%; line-height: 2.5em; margin: 0; padding: 0;"><b style="font-size: 120%; color: #f8923d; font-weight: normal;">

				 Su correo ha sido recibido</b>, en breve sera revisado por uno de nuestros operadores para verificar si procede o no su demanda.
		En caso de que la demanda proceda nos comunicaremos con usted a traves de este correo o bien al telefono:<br style="font-size: 120%;"><b style="font-size: 120%; color: #f8923d; font-weight: normal;">123456780</b><br style="font-size: 120%;">
		El mensaje que usted envio es el siguiente:<br style="font-size: 120%;"><cite style="font-size: 0.7em; margin: 10%;">-"El que no puede ser nombrado ha atacado de nuevo."</cite><br style="font-size: 120%;">
		Por favor no responda a este mensaje.<br style="font-size: 120%;">
		Gracias.</span></td>
			</tr>
		</tbody>
	</table>
<!-- </body>
</html>
 -->