<!DOCTYPE html>
<html>
	<head>
		<title>Correo electr&oacute;nico</title>
	</head>
	<body>
		<p>Estimado {{nombre}} {{apellido}}, su correo ha sido recibido. En breve ser&aacute; revisado por uno de nuestros operadores para verificar si procede o no su demanda.</p>
		<p>En caso de que la demanda proceda nos comunicaremos a usted a trav&eacute;s de este correo o bien al tel&eacute;fono {{telefono}} que usted mismo proporcion&oacute;</p>
		<p>El mensaje que usted envi&oacute; es el siguiente:</p>
		<p><i>{{descripcion}}</i></p>
		<p>Por favor no responda este mensaje. Gracias.</p>
	</body>
</html>
