html {
  height: 100%;
}
body {
    font-size: 16px;
    height: 100%;
    bottom: 0px;
}
a {
  text-decoration: none;
}
#top {
  background: #4d4d4d;
  display: block;
  padding-top: 1em;
  font-size: 1.2em;
  border-bottom: solid 0.6em #808080;
}
header {
    width: 80%;
    display: inline-block;
    min-height: 115px;
    max-height: 18vh;
}
header h1 {
  display: none;
}
header img {
  max-width: 306px;
  min-width: 180px;
  margin-left: 1em;
  vertical-align: bottom;
}
header nav {
  display: inline-block;
  vertical-align: bottom;
  width: 74%;
}
header nav a {
  color: #fff;
  border-bottom: solid 0.8em transparent;
  padding: 0 1.5em 0.5em;
  margin: 0 4%;
  display: inline-block;
}
header nav a:hover {
  color: #9e9e9e;
}
header nav a.active {
  border-color: #808080;
}
aside {
  width: 19%;
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
}
aside a {
    color: rgb(158, 158, 158);
    display: inline-block;
    margin: 0px 15% 1.4em 0px;
    width: 33% !important;    
    text-align: left;
    padding: 0;
}
aside.admin a {
    width: 1% !important;    
}
.boton_rectangular{
  height: 45px;
  max-width: 30%;
  margin: 3% 35%;
}

.user{
    color: rgb(158, 158, 158);
    display: inline-block;
    margin: 0px 15% 1.4em 0px;
    width: 10%;
    text-align: left;
    padding: 0;
}
.placeholderajustable{
    font-size: 95% !important;
}
font-size 1em:hover {
  color: #fff;
}

.login, .consultar{
  max-width: 400px;
  width: 40%;
  min-width: 290px;
  margin: 0 auto;
  margin: 0% auto !important;
  border: 2px solid #e6e6e6;
}
h2.login, h2.consultar {
  margin-top: 10% !important;
  font-size: 2em;
  border: none;
}
.formulario{
  max-width: 40%;
  min-width: 400px;
  margin: 0 auto;
}
.formulario p {
  text-align: left;
  margin: 0 auto;
  width: 100% !important;
}
section div:first-child{
}

.acceder{
  margin: 0px 35% !important;
  width: 30%;
  color: black;
}
section {
  border-top: solid 0.6em #f8923d;
  height: calc(100% - 155px);
}
section .col {
  border: 0;
  border-right: 0.2em solid #e6e6e6;
  display: inline-block;
  vertical-align: top;
  margin: 0 -0.12em;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
section .col h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 0 3%;
  word-wrap:break-word;
}
section  .reporte h2 {
text-align: center;
}

section .col ul {
  list-style: none;
  display: block;
  padding: 0;
}
section .col li {
  display: block;
}
section .col a {
  border: 0;
  padding: 0.5em 2em;
  margin: 0;
  display: block;
  text-align: left;
  color: #000;
}
section .col a:hover,
section .col a.active {
  background: #f8923d;
  color: #fff;
}
section .col a:hover .fechahora,
section .col a.active .fechahora{
  color: #fff;
}
section .estado {
  width: 15%;
}
section .municipio {
  width: 25%;
}
section .oficina {
  width: 15%;
}
section .preguntas{
  width: 30%
}
section .reporte, section .preguntas{
  width: 30%;
  min-width: 294px;
  overflow-y: scroll;
}
section .respuestas{
  width: 69%;
  padding: 0.4%;
}
section .reporte ul li{
  border-top: 2px solid #E6E6E6;
}
section .contenido{
  max-width: 69.7%;
  min-width: 683px;
}
section .reporte, section .contenido {
    vertical-align: top;
    display: inline-block;
    height: 80vh;
}
section .reporte ul .descripcion{
  width: 30%;
}
section .reporte ul .fechahora{
  width: 34%;
  color: #f8923d;
}
section .reporte ul .fechahora div{
  padding-bottom: 11%;
  text-align: center;
}
section .reporte ul .descripcion, section .reporte ul .fechahora, section .reporte ul .logo{
  vertical-align: top;
  display: inline-block;
}
section .mapa {
  width: calc(45% - 0.6em);
  border: 0;
}
section .logo{
  width: 15%;
  min-width: 71px;
}
section img{
  width: 100%;
}
section .texto {
    background: none repeat scroll 0% 0% #E6E6E6;
    margin: auto;
    padding: 1%;
}
section .transparencia{
  width: 80%;
  height: auto;
  margin: auto;
}
#titulo {
/*  margin: 5% 12% 0;
*/
  margin:5% auto 0px;
} 
input, textarea, select, option{
  background: none repeat scroll 0px 0px rgb(255, 255, 255);
  border: 0px none;
  margin: 0px auto 2%;
  width: 90%;
  height: 30px;
  display: block;
  padding: 1% 3%;
}
textarea{
  height: 80px;
}
input[placeholder], textarea[placeholder]

{
  font-weight: bold;
  color:#6E6E6E;
  font-size: 20px;
}
select{
  width: 96%;
  padding: 1.5% 3%;
  height: 45px;
  margin: 0% auto 2%;
}
button{
  background: none repeat scroll 0px 0px rgb(77, 77, 77);
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: auto 5%;
  text-align: center;
  border: 0;
}
div .consultar p{
  background: #FFF;
  text-align: left;
}
 .texto h2{
  color: #777;
}
#nombre, #folio, #reincidencia, #estado, #incidente, #retroalimentacion, #compete{
  display: inline-block;
  vertical-align: middle;
}
#nombre, #folio{
  padding: 1%; 
  height: 10%;
}
#nombre{
 width: 65%;
}
#folio{
 width: 20%;
}
#reincidencia, #estado, #incidente{
  width: 25%;
  height: 10%;
  margin: 15px 2%;
  text-align:center;
}
#texto_reporte{
 width: auto;
 padding: 1%;
 overflow-y:scroll;
 height: 40%;
}
#retroalimentacion, #compete{
 padding: 1%;
 height: 25%;
}
#retroalimentacion{
 width: 80%;
}
#compete{
 width: 15%;
}
.boton{
  background: none repeat scroll 0px 0px rgb(238, 238, 238);
  border: 2px solid rgb(128, 128, 128);
  border-radius: 8px;
  padding: 7%;
  text-align: center;
  bottom: 0px;
  margin: 5% auto;
}
.boton:hover{
  background: #808080;
}
.busqueda{
  width: 56%;
  display: inline-block;
}
.naranja:hover{
  background: #f8923d;
}
.naranja{
 border-color: #f8923d;
}
.formu{
  display:inline-block;
  width: 49%;
}
.date input{
width: 50%;
  display:inline-block;
  margin: 1px;

}
.verde{
  color: rgb(142,196,62) !important;
  text-align: center;
  font-size: 25px;
}
h2.letranaranja{
  color:rgb(248, 146, 61);
}
.azul{
  color:blue;
  text-align: center;
  font-size: 25px;
}
.date label{
  display:inline-block;
  margin: 1px;
  display: inline-block;
  width: 70%
}
.izk, .der{
  vertical-align: top;
  text-align: center;
  width: 49%;
  display: inline-block;
  height: 100%;
}
section .izk{
  border-right: 0.3em solid #E6E6E6;
}
#checklabel, #check{
  display: inline-block;
  vertical-align: top;
}
#checklabel{
  width: 70%;
  padding-left: 5%;
}
#check{
  width: 10%;
}
#datepicker{
  background: #808080;
  margin: 4%;
  color: white; 
}
.respuesta{
 width: auto;
 padding: 1%;
}
textarea#styled {
 width: 100%;
 height: 150px;
 border: 3px solid #cccccc;
 padding: 5px;
 font-family: Tahoma, sans-serif;
 background-image: url(bg.gif);
 background-position: bottom right;
 background-repeat: no-repeat;
}
