{% extends 'mainWeb/base.html '%}
{%block contenido%}
	<section>
		<div class="formulario">
		<h2 class="titulo">Bienvenido</h2>
		<p>Por favor llene los siguientes campos para poder otorgarle un mejor servicio</p>
		</div>
		<div class="texto formulario">
			<form  action="" method="get" accept-charset="utf-8">
				<div class="selectParent" required>
				    <select>
				         <option value="1">Option 1</option>
				         <option value="2">Option 2</option>           
				    </select>  
				</div>      
	            <input class="input" type="text" name="" value="" placeholder="Nombres" required>
				<input class="input" type="text" name="" value="" placeholder="Apellidos" required>				
				<input class="input" type="text" name="" value="" placeholder="Direccion" required>				
				<input class="input" type="text" name="" value="" placeholder="Correo Electronico" required>				
				<input class="input" type="text" name="" value="" placeholder="Telefono" required>
				<textarea class="textarea" placeholder="Descripcion de la situacion" required></textarea>
				<div class="finals">
					<div class="formu izk">
						<input class="date" placeholder="Fecha de la situacion" type="text" id="datepicker" required>
							<label id="checklabel">He vivido la misma situación más de una vez</label> 
							<input type="checkbox" id="check" value="1" name="" />
					</div>
					<div class="formu der">	
						<button id="enviar" class="boton" type="submit">Enviar</button>
					</div>		
				</div> 
			</form>	
	</section>
{%endblock%}