{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	
	<title> Comisión nacinal de los derechos humanos</title>
	<link href="{% static 'css/normalize.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
	<div id="top">
	<header>
		<h1>Comisión nacional de los derechos humanos.</h1>
		<img src="{% static 'img/logo.png'%}" alt="">
			<nav>
				<a href="#reportar">Reportar</a>
				<a href="#consultar">Consultar</a>
				<a href="#oficinas" class="active">Oficinas</a>
			</nav>
	</header>
	<aside>
		<a class="user" href="#idioma">Idioma</a>
		<a class="user" href="#ayuda">Ayuda</a>
	</aside>
	</div>
	<section>
		<div class="formulario">
		<h2 class="titulo">Bienvenido</h2>
		<p>Por favor llene los siguientes campos para poder otorgarle un mejor servicio</p>
		</div>
		<div class="texto formulario">
			<form  action="" method="get" accept-charset="utf-8">
				<div class="selectParent" required>
				    <select>
				         <option value="1">Option 1</option>
				         <option value="2">Option 2</option>           
				    </select>  
				</div>      
	            <input class="input" type="text" name="" value="" placeholder="Nombres" required>
				<input class="input" type="text" name="" value="" placeholder="Apellidos" required>				
				<input class="input" type="text" name="" value="" placeholder="Direccion" required>				
				<input class="input" type="text" name="" value="" placeholder="Correo Electronico" required>				
				<input class="input" type="text" name="" value="" placeholder="Telefono" required>
				<textarea class="textarea" placeholder="Descripcion de la situacion" required></textarea>
				<div class="finals">
					<div class="formu izk">
						<input class="date" placeholder="Fecha de la situacion" type="text" id="datepicker" required>
							<label id="checklabel">He vivido la misma situación más de una vez</label> 
							<input type="checkbox" id="check" value="1" name="" />
					</div>
					<div class="formu der">	
						<button id="enviar" class="boton" type="submit">Enviar</button>
					</div>		
				</div> 
			</form>	
	</section>
	<script src="{% static 'js/libs/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'js/libs/handlebars-1.1.2.js' %}"></script>
	<script src="{% static 'js/libs/ember-1.2.0.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
  	$(function() {
	$( "#datepicker" ).datepicker();
});
  </script>
</body>
</html>