{% extends 'mainWeb/base.html '%}
{%block contenido%}<!--headers offset-->
		<div class="col estado">
			<h2>Estado</h2>
			<ul>
				<li><a href="" class="active">Distrito Federar</a></li>
				<li><a href="">Chiapas</a></li>
				<li><a href="">Bajacalifornia</a></li>
				<li><a href="">Chihuahua</a></li>
				<li><a href="">Guerrero</a></li>
			</ul>
		</div>
		<div class="col municipio">
			<h2>Municipio/Delegación</h2>
			<ul>
				<li><a href="">Tlápan</a></li>
				<li><a href="">Álvaro Óbregon</a></li>
				<li><a href="" class="active">Chuauhtémoc</a></li>
				<li><a href="">Benito Juárez</a></li>
			</ul>
		</div>
		<div class="col oficina">
			<h2>Oficinas</h2>
			<ul>
				<li>
					<a href="" class="active">
						<p>Periférico Sur #3453, San Jerónimo Lídice, C. P. 10200</p>				
					</a>
				</li>
			</ul>
		</div>
		<div class="col mapa">
			MAP
		</div>
{%endblock%}