<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	
	<title> Comisión nacinal de los derechos humanos</title>
	
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	
</head>
<body>

	<div id="top">
	<header>
		<h1>Comisión nacional de los derechos humanos.</h1>
		<img src="img/logo.png" alt="">
			<nav>
				<a href="#reportar">Reportar</a>
				<a href="#consultar">Consultar</a>
				<a href="#oficinas" class="active">Oficinas</a>
			</nav>
	</header>
	<aside>
		<a href="#idioma">Idioma</a>
		<a href="#ayuda">Ayuda</a>
	</aside>
	</div>
	<section>
    	
	</section>

  <script type="text/x-handlebars" id="estados">
		<div class="col estado">
			<h2>Estado</h2>
			<ul>
			 {{#each oficinas}}
        <li><a href="">{{estado}}</a></li>
        {{/each}}
			</ul>
		</div>
	</script>


  <script type="text/x-handlebars" id="municipio">
		<div class="col municipio">
			<h2>Municipio/Delegación</h2>
			<ul>
				<li><a href="">Tlápan</a></li>
				<li><a href="">Álvaro Óbregon</a></li>
				<li><a href="" class="active">Chuauhtémoc</a></li>
				<li><a href="">Benito Juárez</a></li>
			</ul>
		</div>
	</script>

  <script defer src="js/libs/jquery-1.10.2.js"></script>
  <script defer src="js/libs/handlebars-1.1.2.js"></script>

  <script defer src="js/app.js"></script>
</body>
</html>