{% extends 'mainWeb/base.html' %}
{%block contenido%}<!--headers offset-->
		<div class="col estado">
			<h2>Estado</h2>
			<ul>
				<li><a href="" class="active">Distrito Federar</a></li>
				<li><a href="">Chiapas</a></li>
				<li><a href="">Bajacalifornia</a></li>
				<li><a href="">Chihuahua</a></li>
				<li><a href="">Guerrero</a></li>
			</ul>
		</div>
		<div class="col municipio">
			<h2>Municipio/Delegación</h2>
			<ul>
				<li><a href="">Tl&aacute;pan</a></li>
				<li><a href="">&Aacute;lvaro &Oacute;bregon</a></li>
				<li><a href="" class="active">Chuauht&eacute;moc</a></li>
				<li><a href="">Benito Ju&aacute;rez</a></li>
			</ul>
		</div>
		<div class="col oficina">
			<h2>Oficinas</h2>
			<ul>
				<li>
					<a href="" class="active">
						<p>Perif&eacute;rico Sur #3453, San Jer&oacute;nimo Lídice, C. P. 10200</p>				
					</a>
				</li>
			</ul>
		</div>
		<div class="col mapa">
			MAP
		</div>
{%endblock%}