<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	
	<title> Comisión nacinal de los derechos humanos</title>
	
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="top">
	<header>
		<h1>Comisión nacional de los derechos humanos.</h1>
		<img src="img/logo.png" alt="">
			<nav>
				<a href="#reportar">Reportar</a>
				<a href="#consultar">Consultar</a>
				<a href="#oficinas" class="active">Oficinas</a>
			</nav>
	</header>
	<aside>
		<a class="user" href="#idioma">Idioma</a>
		<a class="user" href="#ayuda">Ayuda</a>
	</aside>
	</div>
	<section>
		<div class="col preguntas">
			<h2>Preguntas</h2>
			<ul>
				<li><a href="">¿Qué es la CNDH?</a></li>
				<li><a href="">¿Qué características deben tener las recomendaciones, denuncias y quejas de la CNDH a las autoridades?</a></li>
				<li><a href="">¿Qué otras actividades cumple la CNDH?</a></li>
				<li><a href="">¿Qué asuntos no son competencia de la CNDH?</a></li>
				<li><a href="">¿La Comisión es un agente conciliador?</a></li>
				<li><a href="">¿Las acciones de la CNDH suspenden o interrumpen otros procesos?</a></li>
				<li><a href="">¿Quién puede presentar una queja?</a></li>
				<li><a href="">¿Qué procede si el agraviado no puede acudir personalmente?</a></li>
				<li><a href="">¿Cuánto tiempo tengo para presentar la queja?</a></li>
				<li><a href="">¿Puedo presentar una queja anónimamente?</a></li>
				<li><a class="active" href="">¿Cuándo es competente la CNDH para conocer de quejas por presuntos actos u omisiones en contra de los Derechos Humanos?</a></li>
				<li><a href="">¿Qué se necesita para presentar una queja ante la CNDH?</a></li>
				<li><a href="">¿Cuál es el paso siguiente a la presentación de queja?</a></li>
				<li><a href="">¿Quién se encarga de llevar el proceso de la queja?</a></li>
				<li><a href="">¿Cuáles son las calificaciones que puede recibir la queja?</a></li>
				<li><a href="">¿Qué pasa si al concluir la investigación de la queja se demuestra que los actos u omisiones no trasgreden los Derechos Humanos del individuo?</a></li>
				<li><a href="">¿Qué son los Derechos Humanos?</a></li>
				<li><a href="">¿Quién debe respetar los Derechos Humanos?</a></li>
				<li><a href="">¿El bien común se construye a partir del respeto a los Derechos Humanos?</a></li>
				<li><a href="">¿Para que sirve la protección y defensa de los Derechos Humanos?</a></li>
			</ul>
		</div>
		<div class="col contenido">
			<h2>Respuesta</h2>
			    <p class="respuesta">Ser interpuesto ante la Comisión Nacional. Suscrito por la persona o personas que tengan el carácter de quejosos o agraviados. Que contenga la expresión de las acciones u omisiones atribuibles al organismo local en el trámite de la queja; o, hayan transcurrido por lo menos seis meses desde la fecha de presentación del escrito de queja ante el organismo local y exista una inactividad manifiesta durante ese lapso. Que el referido Organismo Local, respecto del procedimiento de queja que se recurre, no haya dictado recomendación alguna o establecido resolución definitiva sobre el mismo. El recurso de queja deberá presentarse por escrito ante la Comisión Nacional y, en caso de urgencia por correo, fax o telégrafo. En ese documento se indicarán con precisión la omisión o actitud del Organismo Local, lgenerados, así como las pruebas correspondientes.</p>
		</div>
	</section>
  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.2.0.js"></script>
  <script src="js/app.js"></script>
</body>
</html>