{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	
	<title> Comisión nacinal de los derechos humanos</title>
	
	<link href="{% static 'css/normalize.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
	<div id="top">
	<header>
		<h1>Comisión nacional de los derechos humanos.</h1>
		<img src="img/logo.png" alt="">
			<nav>
				<a href="#reportar">Nuevas</a>
				<a href="#consultar">Revisadas</a>
				<a href="#oficinas" class="active">Archivadas</a>
			</nav>
	</header>
	<aside class="admin">
		<a class="icono" href="#idioma"><span class="icon-user"></span></a>
			
		<a class="icono" href="#ayuda"><span class="icon-exit"></span></a>
		<input class="busqueda" type="text" name="" value="" placeholder="Buscar">
	</aside>
	</div>
	<section>
		<div class="col reporte">
			<ul class="scroll">
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/ISSSTE.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/CFE.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/IMSS.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/INM.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/OADPRS.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/PF.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/PGR.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/SEDENA.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/SEMAR.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/SEP.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/PF.png'%}" alt=""></div>
					</a>
				</li>
				<li><a class="active" href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/PGR.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/SEDENA.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/SEMAR.png'%}" alt=""></div>
					</a>
				</li>
				<li><a href="">
					<div class="descripcion">Lorem ipsum dolor sit amet...</div>
					<div class="fechahora">
						<div class="fecha">12/11/2013</div>
						<div class="hora">15:30</div>
					</div>
					<div class="logo"><img src="{% static 'img/SEP.png'%}" alt=""></div>
					</a>
				</li>				
			</ul>
		</div>
		<div class="col contenido">
			<div id="nombre">
				<h3>Rodolfo Edu Lugo Garcia</h3>
			</div>
			<div id="folio">
				<h3>Folio: 123123</h3>
			</div>
			<div id="texto_reporte">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br><br>				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br><br>
			</div>
			<div id="reincidencia">
				<h3>Reincidencia:</h3>
				<p>No</p>	
			</div>
			<div id="estado">
				<h3>Lugar de incidente:</h3>
				<p>Campeche</p>
			</div>
			<div id="incidente">
				<h3>Fecha del incidente:</h3>
				<p>13-10-13</p>			
			</div>
			<div id="retroalimentacion">
				<textarea name="styled-textarea" id="styled" onfocus="this.value=''; setbg('#e5fff3');" onblur="setbg('white')">Ingrese su respuesta aqui...</textarea>
			</div>
			<div id="compete">
				<div class="boton naranja">Si <br>Compete</div>
				<div class="boton">No <br>Compete</div>
			</div>
		</div>
		<!-- <div class="col oficina">
			<h2>Oficinas</h2>
			<ul>
				<li>
					<a href="" class="active">
						<p>Periférico Sur #3453, San Jerónimo Lídice, C. P. 10200</p>				
					</a>
				</li>
			</ul>
		</div> 
		<div class="col mapa">
			MAP
		</div> -->
	</section>
  <script src="{% static 'js/libs/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'js/libs/handlebars-1.1.2.js' %}"></script>
  <script src="{% static 'js/libs/ember-1.2.0.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>